@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-primary: #826AF9;
  --color-primary-light: #EEE3FF;
  --color-text-main: #111111;
  --color-text-secondary: #666666;
  --color-bg-sidebar: #F7F7F9;
  --color-bg-main: #FFFFFF;
  --color-heart-active: #2ECC71;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: var(--color-text-main);
  background-color: var(--color-bg-main);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}